* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.todo-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 500px) {
  .todo-container {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    place-items: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 840px) {
  .todo-container {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 0px;
    place-items: center;
  }
}
